* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: whitesmoke;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.container-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);

  background: lightgrey;
  padding-block: 2rem;
  width: min(90%, 70rem);
  margin-inline: auto;
}

.card {
  padding: 2rem;
  border-radius: 1rem;
}

.spacex {
  background: #8b1e3f;
}

.tesla {
  background: #3c153b;
}

.starlink {
  background: #89bd9e;
}

.theboringcompany {
  background: #000000d5;
}

.neuralink {
  background: #db4c40;
}

.card:nth-child(2) {
  grid-column: 4;
  grid-row: 1 / 3;
}
